.sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top:56px;
    width: 72px;
    z-index: 100;
    padding-top: 11px;
}
@media(min-width: 1200.1px){
    .sidebar{ 
        width: 200px;
    }
}
.sidebar-boxes{
    height: 82px;
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
}
@media(min-width: 1200.1px){
    .sidebar-boxes{ 
        width: 180px;
        flex-direction: row;
        padding-left: 20px;
        height: 50px;
        justify-content: start;
    }
}
.sidebar-boxes:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.sidebar-boxes img{
    width: 27px;
}
.sidebar-boxes div{
    margin-top: 6px;
    font-size: 10px;
}
.sidebar-boxes div{
    font-size: 10px;
}
@media(min-width:1200.1px){
    .sidebar-boxes div{
        font-size: 13px;
        margin-left: 20px;
    }
}